body{
    background-color:teal;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 30px;
    font-weight: 200;
}

h3{
    font-size: 25px;
    font-weight: 200;
}

p{
    text-align: center;
    font-size: 18px;
}
.about{
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 70%;
    position: relative;
    top: 150px;
    margin: auto;
}

.article-header{
    text-align: center;
    position: relative;
    top: 190px;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 40px;
    width: 70%;
    margin: auto;
}

a{
    background-color: aliceblue;
    border: 20px;
    font: 18px;
}

/*this is used to give the div that will be used as my navigation bar to line up horzintally, instead of vertically. It also makes it so the nave bar follows as the user scrolls down*/
.navigation{
    display: flex;
    background-color: aliceblue;
        justify-content: space-around;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: 5px solid darkblue;
    margin-bottom: 75px;
}
.navigation > div {
    display: flex;
    font-size: 2em;
    padding: 10px 60px;
    align-items: center;

}
/*keeps the images to a conscent size throught out the website.*/
img{
    width: 560px;
    height: 315px;
}
/*makes so the logo for the site on the nav bar is not too big*/
img.logo{
    width: 100px;
    height: 100px;
}

table{
    border-collapse: collapse;
    width: 100%;
}
/*divdes up the table elements*/
table, th, td {
    border: 1px solid black;
    background-color: teal;
    color: aliceblue;
    text-align: center;
}
/*give each elements on the table more verical space*/
th{
    height: 35px;
}

td {
     height: 35px;
    
}
/*These are used to styleized the button on the site. The button are normally white with a teal outline and black text, but when the user hovers over it with the mouse the button becomes teal with white text. When the button is decative, it is gray with black text.*/
button {
    font-size: 30px;
    padding: 40px 65px;
    border-radius: 15%;
    background-color: white;
    color: black;
    border: 3px solid #008080;
  transition-duration: 0.8s;
}

button:hover {
    background-color: teal;
    color: white;
    transition-duration: 0.5s;
}

button:disabled {
    color: black;
    background-color: gray;
}
@media only screen and (min-width: 340px){
    img{
    width: 275px;
    height: 215px;
    }
    img.logo{
    width: 120px;
    height: 120px;
    
    }
    .about{
    background-color: aliceblue;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 70%;
    position: relative;
    top: 250px;
    margin: auto;
}
    .article-header{
    text-align: center;
    position: relative;
    top: 290px;
    box-sizing: border-box;
    background-color: aliceblue;
    padding: 40px;
    width: 70%;
    margin: auto;
}
    button {
    font-size: 40px;
    padding: 60px 85px;
    border-radius: 15%;
    background-color: white;
    color: black;
    border: 3px solid #008080;
  transition-duration: 0.8s;
}

}
    table{
    border-collapse: collapse;
    width: 100%;
}

table, th, td {
    border: 1px solid black;
    background-color: teal;
    color: aliceblue;
    text-align: center;
}

th{
    height: 55px;
}

td {
     height: 55px;
    
}
.navigation{
    display: flex;
    background-color: aliceblue;
        justify-content: space-around;
    position: fixed;
    z-index: 10;
    width: 70%;
    border-bottom: 5px solid darkblue;
    margin-bottom: 75px;
}
.navigation > div {
    display: flex;
    font-size: 2em;
    padding: 10px 50px;
    align-items: center;

}
}


